Source: wireguard-kit
Rules-Requires-Root: no
Section: admin
Priority: optional
Maintainer: Charles Michael Atkinson <wireguard-kit@charlesmatkinson.org>
Build-Depends: debhelper (>=13~), debhelper-compat (= 13), default-jre,
                libreoffice-common, libreoffice-writer, xz-utils
Standards-Version: 4.5.1
Homepage: https://github.com/CharlesMAtkinson/wireguard-kit

Package: wireguard-kit
Architecture: all
Multi-Arch: foreign
Depends: grepcidr, wireguard,
         ${misc:Depends}
Recommends: 
Suggests: 
Description: Extends WireGuard to a complete production VPN solution
 WireGuard follows the Unix philosophy of doing one thing and doing
 it well. It is not a complete production VPN solution.
 .
 wireguard-kit extends WireGuard into a complete production VPN solution with 
 optional standby server.
 .
 WireGuard itself is a peer to peer technology.  wireguard-kit configures one
 computer as a server and the rest as clients.  The clients have only a
 WireGuard connection to the server.  They connect to other clients via the
 server.
 .
 The server
  - has a script to create configuration for new clients and to complete setup
    on ssh accessible Debian clients
  - logs active clients
  - has a script to synchronise to a standby server
 Clients running systemd can be configured to restart WireGuard on loss of
 connection so they automatically fail over to the standby server.
 .
 wireguard-kit server:
  - was tested on Debian Bullseye
  - may work on Debian derivatives including Ubuntu and its derivatives
 Client configurations generated by wireguard-kit:
  - were tested on:
    Debian Buster and Bullseye clients
    macOS 13 Ventura
    Windows 10
  - are expected to work on all clients listed at
    https://www.wireguard.com/install
 wireguard-kit is written in bash and uses the GPL-2.0+ license.
